<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node pkg="sawyer_control" type="actions_subscriber.py" name="actions"/>
    <node pkg="sawyer_control" type="observations_server.py" name="observations" />
    <node pkg="sawyer_control" type="jacobian_server.py" name="jacobians" />
    <node pkg="sawyer_control" type="image_server.py" name="images" />
    <node pkg="sawyer_control" type="angle_action_server.py" name="angle_action" />
    <node pkg="sawyer_control" type="ik_server.py" name="ik_server" />
</launch>
